html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.container {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 85%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 70%;
  }
}

.navbar a {
  text-transform: capitalize;
}

.navbar {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 1rem;
}

.navbar .navbar-brand {
  display: inline-block;
}

.navbar .navbar-collapse {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-nav {
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  padding: 0;
  margin: 0;
}

.navbar .navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  color: #a9a9a9;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  -webkit-transition: 5ms ease;
  transition: 5ms ease;
}

.navbar .navbar-nav .nav-link:hover {
  color: #696969;
}

.navbar .navbar-nav .nav-link.active {
  color: #292929;
}

.navbar .navbar-nav .btn-nav {
  color: #4744a5;
  border: 1.5px solid rgba(71, 68, 165, 0.75);
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  margin-left: 1.5rem;
  -webkit-transition: 10ms ease-in-out;
  transition: 10ms ease-in-out;
}

.navbar .navbar-nav .btn-nav:hover {
  color: #4744a5;
  border-color: #4744a5;
}

body {
  font-family: "Nunito", -apple-system, "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
}

a,
a:focus {
  text-decoration: none;
  color: inherit;
}

header {
  border-top: 0.4rem solid #4744a5;
}

.btn {
  font-size: 0.75rem;
  padding: 0.75rem 2rem;
  border: none;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  border-radius: 1.5rem;
  color: #fefefe;
  font-weight: 600;
}

.btn.btn-fill {
  background-color: #4744a5;
}

/*# sourceMappingURL=theme.css.map */
