.navbar a {
  text-transform: capitalize;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  .navbar-brand {
    display: inline-block;
  }
  .navbar-collapse {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    .nav-link {
      padding: 0.5rem 1rem;
      color: #a9a9a9;
      font-weight: $bold;
      font-size: 0.75rem;
      letter-spacing: 0.5px;
      transition: 5ms ease;
      &:hover {
        color: #696969;
      }
      &.active {
        color: #292929;
      }
    }
    .btn-nav {
      color: $primary;
      border: 1.5px solid rgba($primary, 0.75);
      font-weight: $bold;
      padding: 0.5rem 1.5rem;
      border-radius: 1.5rem;
      margin-left: 1.5rem;
      transition: 10ms ease-in-out;
      &:hover {
        color: $primary;
        border-color: $primary;
      }
    }
  }
}
