@import "normalize";
@import "variables";
@import "layout";
@import "navbar";
@import "sections";

.btn {
  font-size: 0.8rem !important;
  padding: 0.75rem 2rem;
  border: none;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  border-radius: 1.5rem;
  color: $light;
  font-weight: $semi-bold;
  &.btn-fill {
    background-color: $primary;
  }
}
